@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$navHeight: 100px;

h1 {
  color: #7c88bc;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: ($navHeight + 10px) 0;
}

.chatbar {
  background: #7c88bc;
  border-top: 1px solid black;
  height: 100px;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  justify-content: space-between;
  form{
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    button{
      height: 3em;
      color: #5c6385;
      border-radius: 4px;
      width: 3em;
    }
  }
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #d0d8ff;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
  width: 50%;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #7c88bc;
  border-bottom: 1px solid black;
  height: $navHeight;
  left: 0;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 60px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.navbar-image {
  height: 100%;
}